* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(165, 143, 95, 0.37); 
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    background-image: url(../assets/cat.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh; 
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    transition: box-shadow 0.3s ease-in-out; 
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 4px black;
}

.fetch {
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: 0.5s ease;
    position: relative;
    top: 50px;
    border: 1px solid black;
}

.fetch:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
}

.org {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.res {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
    width:90%;
    height: auto;
    margin-top: 40px; 
    display: none;
}


.res img {
    width: 100%;  
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 
}